<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%=name%> | IMDb Doosra</title>
</head>

<body>
    <div style="border:1px red solid;">
        <h1>Welcome <%=name%></h1> </div>
</body>

</html>